@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  outline: transparent;
}



.container {
  max-width: 800px;
  margin: 40% auto;
  margin-left: 20px;
}

/*  TaskHead */

.taskHead {
  padding: 6px 8px;
  border: 1px solid #dddd;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  background: #F9F9FA;
  svg {
    cursor: pointer;
  }
}

// Add Task

.addTask {
  border: 1px solid #dddd;
  border-top:0 ;
  background: #EDF7FC;
  color: black;
  padding: 10px;
  input[type="text"] {
    border: 1px solid blue;
    padding: 5px;
    width: 100%;
    border: 1px solid #dddd;
    border-radius: 2px;
  }
  p {
    padding: 5px 0;
    font-size: 15px;
  }
  .split {
    padding-top:10px ;
    display: flex;
    justify-content: space-between;
    input {
      width: 100%;
      border: 1px solid #dddd;
      padding: 4px;
    }
    & > div:last-child {
      width: 50%;
    }
    .date {
      padding: 6px;
      color: #B8585D;
    }
  }
  .assignUser {
    padding-top: 10px;
  }
  .actionArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    .del {
      font-size: 26px;
      color: gray;
      cursor: pointer;
    }
    button {
      padding: 5px 10px;
      margin: 5px;
      border: 1px solid transparent;
      font-weight: 500;
      cursor: pointer;
     
      &:first-child {
        background: transparent;
        color: gray;
      }

      &:last-child {
        background-color:#47BB7F ;
        color: white;
        border-radius: 4px;
      }

    }
  }
  select {
    width: 100%;
    padding: 5px;
    border: 1px solid #dddd;
  }
}


// Single Task

.task {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #dddd;
  padding: 10px;
  .icons {
    margin-left: auto;
    svg {
      cursor: pointer;
      &:first-child {
        margin-right: 4px;
      }
      border-radius: 2px;
      padding: 4px;
      border: 1px solid #dddd;
    }
  }
  .text {
    margin-left: 10px;
    p {
      font-size: 13px;
    }
  }

  & > svg {
    padding: 4px;
    border-radius: 2px;
    border: 1px solid #dddd;
  }
}

.overline {
  text-decoration: line-through;
  transition: all 1s ease;
}

.Notask {
  text-align: center;
    padding: 40px 0;
}

button[type="submit"]:disabled {
  cursor: not-allowed;
}

#root {
  display: flex;
  align-items: end;
  height: 200vh;
}

.App {
  width: 400px;
}

.left {
  width: 200px;
  height: 100%;
  background: #323E4D;
}

.date {
      color: #f15860;
}